<h1>List of gym members</h1>
<h2><a href="/new/member">Add a new member</a></h2>
<hr>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Membership Type</th>
    </tr>
  </thead>
  <% @members.each do |member|%>
  <tr>
    <td><a href="/members/<%= member.id %>"><%= member.full_name %></a></td>
    <td><%= member.membership_type %></td>
  </tr>
  <% end %>
</table>
