<h1>List of class sessions</h1>
<h2><a href="/new/session">Create new</a></h2>
<hr>
<ul>
<% @sessions.each do |session|%>
<li><%= session.id %> [<a href="/sessions/<%= session.id %>">view/edit</a>]</li>
<li>time goes here</li>
<li>class info goes here</li>
<li>instructor goes here</li>
<li>list of members goes here</li>
<li>capacity x of y</li>
</ul>
<hr>
<% end %>
