<h1>Add a new gym instructor</h1>
<form action="/new/instructor" method="post">
  <table>
    <tr>
      <td>First name: </td>
      <td><input id="first_name" type="text" name="first_name" value="" required></td>
    </tr>
    <tr>
      <td>Last name: </td>
      <td><input id="last_name" type="text" name="last_name" value="" required></td>
    </tr>
    <tr>
      <td>Profile: </td>
      <td><input id="profile" type="text" name="profile" value="" required></td>
    </tr>
    <tr>
      <td><input type="submit" value="Add"></td>
    </tr>
  </table>
</form>
