<h1>List of gym classes</h1>
<h2><a href="/new/class">Create new</a></h2>
<hr>
<ul>
<% @gymclass.each do |gymclass|%>
<li><%= gymclass.name %> [<a href="/classes/<%= gymclass.id %>">view/edit</a>]</li>
<li><%= gymclass.description %></li>
</ul>
<hr>
<% end %>
