<h1>List of gym classes</h1>
<h2><a href="/new/class">Add a new class</a></h2>
<hr>
<% @gymclass.each do |gymclass|%>
<ul>
<li>Class name: <%= gymclass.name %> [<a href="/classes/<%= gymclass.id %>">view/edit</a>]</li>
<li>Description: <%= gymclass.description %></li>
<li>Capacity: <%= gymclass.capacity %></li>
</ul>
<hr>
<% end %>
