<h1>List of gym classes</h1>
<h2><a href="/new/class">Add a new class</a></h2>
<hr>
<table>
  <thead>
    <tr>
      <th>Class name</th>
      <th>Description</th>
    </tr>
  </thead>
  <% @gymclass.each do |gymclass|%>
  <tr>
    <td><a href="/classes/<%= gymclass.id %>"><%= gymclass.name %></a></td>
    <td><%= gymclass.description %></td>
  </tr>
  <% end %>
</table>
