<h1>Add a new class</h1>
<form action="/new/class" method="post">
  <table>
    <tr>
      <td>Class name: </td>
      <td><input id="name" type="text" name="name" value="" required></td>
    </tr>
    <tr>
      <td>Instructor: </td>
      <td><input id="instructor" type="text" name="instructor" value="" required></td>
    </tr>
    <tr>
      <td>Description: </td>
      <td><input id="description" type="text" name="description" value="" required></td>
    </tr>
    <tr>
      <td><input type="submit" value="Add"></td>
    </tr>
  </table>
</form>
